In [1]:
from google.cloud import bigquery
import pandas as pd
from datetime import datetime as dt
from datetime import timedelta

In [2]:
from google.colab import auth
auth.authenticate_user()
client = bigquery.Client(project='digital-analytics-289714')

In [3]:
def get_table_size(dataset, table_sufix):
  query = f'''SELECT * FROM `digital-analytics-289714.analytics_{dataset}.__TABLES__`
WHERE table_id='events_{table_sufix}' '''
  print(query)
  return client.query(query).to_dataframe()

In [4]:
def write_table_size(date, dataset, size):

  query = f''' UPDATE `digital-analytics-289714.ingestao_ga4.size_by_date`  
  set size_d3 = {size} 
  where date = '{date}' AND dataset = '{dataset}' '''
  print(query)
  return client.query(query)

In [12]:
def check_size_mod(date, dataset):
    query = f'''SELECT * FROM `digital-analytics-289714.ingestao_ga4.size_by_date`
WHERE date = '{date}' AND dataset = '{dataset}' '''
    row = client.query(query).to_dataframe()

    if int(row['size_d3']) > int(row['first_size']):
        query = f''' UPDATE `digital-analytics-289714.ingestao_ga4.size_by_date`  
  set bigger = 'YES'
  where date = '{date}' AND dataset = '{dataset}' '''
        client.query(query)
    else:
        query = f''' UPDATE `digital-analytics-289714.ingestao_ga4.size_by_date`  
  set bigger = 'NO'
  where date = '{date}' AND dataset = '{dataset}' '''
        client.query(query)

In [20]:
  def main():
    today = dt.today()
    day3 = (today - timedelta(days=3)).strftime('%Y%m%d')
    datasets = [ '181029766','184671548','277318370']
    for dataset in datasets:
      info_table_df = get_table_size(dataset, day3)
      size_d3 = info_table_df['row_count'][0]
      print(size_d3)

In [21]:
main()

SELECT * FROM `digital-analytics-289714.analytics_181029766.__TABLES__`
WHERE table_id='events_20230513'
264791451
SELECT * FROM `digital-analytics-289714.analytics_184671548.__TABLES__`
WHERE table_id='events_20230513'
19062564
SELECT * FROM `digital-analytics-289714.analytics_277318370.__TABLES__`
WHERE table_id='events_20230513'
8569448