In [16]:
from google.cloud import bigquery
import pandas as pd
from datetime import datetime as dt
from datetime import timedelta

In [2]:
from google.colab import auth
auth.authenticate_user()
client = bigquery.Client(project='digital-analytics-289714')

In [3]:
def get_table_size(dataset, table_sufix):
  query = f'''SELECT * FROM `digital-analytics-289714.analytics_{dataset}.__TABLES__`
WHERE table_id='events_{table_sufix}' '''
  print(query)
  return client.query(query).to_dataframe()

In [66]:
from google.cloud.bigquery.job.query import QueryJob
def write_table_size(date, dataset, size):
  if dataset == '181029766':
    BU = 'CB'
  if dataset == '184671548':
    BU = 'PO'
  if dataset == '277318370':
    BU = 'EX'
  query = f''' INSERT `digital-analytics-289714.ingestao_ga4.size_by_date`(date, dataset, BU, first_size) 
  VALUES('{date}','{dataset}','{BU}',{size})'''
  print(query)
  return client.query(query)

In [63]:
def main():
  today = dt.today()
  yesterday = (today - timedelta(days=1)).strftime('%Y%m%d')
  datasets = [ '181029766','184671548','277318370']
  for dataset in datasets:
    table_info = get_table_size(dataset, yesterday)
    size = table_info['row_count'][0]
    write_table_size(yesterday, dataset, size)
    print(size)

In [67]:
main()

SELECT * FROM `digital-analytics-289714.analytics_181029766.__TABLES__`
WHERE table_id='events_20230514'
 INSERT `digital-analytics-289714.ingestao_ga4.size_by_date`(date, dataset, BU, first_size)
  VALUES('20230514','181029766','CB',198570799)
198570799
SELECT * FROM `digital-analytics-289714.analytics_184671548.__TABLES__`
WHERE table_id='events_20230514'
 INSERT `digital-analytics-289714.ingestao_ga4.size_by_date`(date, dataset, BU, first_size)
  VALUES('20230514','184671548','PO',16089648)
16089648
SELECT * FROM `digital-analytics-289714.analytics_277318370.__TABLES__`
WHERE table_id='events_20230514'
 INSERT `digital-analytics-289714.ingestao_ga4.size_by_date`(date, dataset, BU, first_size)
  VALUES('20230514','277318370','EX',7311648)
7311648