In [1]:
from google.cloud import bigquery
import pandas as pd

In [2]:
from google.colab import auth
auth.authenticate_user()
client = bigquery.Client(project='digital-analytics-289714')

In [3]:
def get_table_size(dataset, table_sufix):
  query = f'''SELECT * FROM `digital-analytics-289714.analytics_{dataset}.__TABLES__`
WHERE table_id='events_{table_sufix}' '''
  print(query)
  return client.query(query).to_dataframe()

In [4]:
def write_table_size(date, dataset, size):
  if dataset == '181029766':
    BU = 'CB'
  if dataset == '184671548':
    BU = 'PO'
  if dataset == '181029766':
    BU = 'EX'
  else:
    BU = 'Null'
  query = f''' INSERT `digital-analytics-289714.ingestao_ga4.size_by_date`(date, dataset, BU, first_size) 
  VALUES({date},{dataset},{BU},{size})'''

  print(query)

In [36]:
teste = write_table_size('20230510','181029766',2737777)

 INSERT `digital-analytics-289714.ingestao_ga4.size_by_date`(date, dataset, BU, first_size)
  VALUES(20230510,181029766,EX,2737777)

In [29]:
#teste
teste  = get_table_size('181029766','20230510')

SELECT * FROM `digital-analytics-289714.analytics_181029766.__TABLES__`
WHERE table_id='events_20230510'

In [30]:
teste

,project_id,dataset_id,table_id,creation_time,last_modified_time,row_count,size_bytes,type
0,digital-analytics-289714,analytics_181029766,events_20230510,1683824157359,1684105208751,306594627,551340769826,1

In [32]:
teste['row_count'][0]

306594627